.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 74px auto;
    align-items: center;
    width: 116px;
    height: 102.224px;
}

.footer-img {
    width: 1.5rem;
}

.social-container {
    display: flex;
    justify-content: space-between;
    width: 116px;
}